chgmgmt_build/src/flows/New_Customer_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!Company_Name}&amp;&apos;-&apos;&amp;{!Last_Name}</expression>
    </formulas>
    <interviewLabel>New Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>106</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>103</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>96</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <dateValue>2016-11-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>Account</name>
        <label>Account</label>
        <locationX>112</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>End</name>
        <label>完了</label>
        <locationX>89</locationX>
        <locationY>570</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete</name>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Account</startElementReference>
</Flow>
